<div class="sidebar">
  <div class="avatar">
    <img src="" alt="Portrait of Simone Rossi Tisbeni">
  </div>
  <div class="blurb">
    <h1><%= config.title %></h1>
    <h2><%= config.subtitle %></h2>
  </div>
  <div class="nav">
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Works</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Unibo.it</a></li>
    </ul>
  </div>
  <div class="footer">
    <ul>
      <li>github</li>
      <li>linkedin</li>
      <li>reaserch gate</li>
      <li>orchid</li>
      <li>twitter</li>
      <li>instagram</li>
    </ul>
  </div>
</div>